name: CI

on:
  push:
  pull_request:
  schedule: [cron: "0 0 * * *"]
  workflow_dispatch:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  API_KEY: ${{ secrets.wk_api_key }}
  LEVEL_PROGRESSION_ID: ${{ secrets.level_progression_id }}

jobs:
  rate_limiting:
    needs: [test]
    name: Test rate limiting
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - run: cargo test test_rate_limiting -- --ignored
        env:
          RUST_LOG: info

  test:
    name: Test suite [${{matrix.runner}}]
    runs-on: ${{matrix.runner}}
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, windows-latest]
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - run: cargo test
      - run: cargo test --no-default-features --features model

  build:
    name: Rust ${{matrix.rust}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust: [1.62.1, stable]
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust}}
      - run: cargo build --no-default-features --features model
      - run: cargo build

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - run: cargo clippy

  outdated:
    name: Outdated
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/install@cargo-outdated
      - run: cargo outdated --workspace --exit-code 1
